<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <li class="main-header_list"><a href="/">Shop</a></li>
            <li class="main-header_list"><a class="active" href="/admin/add-product">Add Product</a></li>
        </nav>
    </header>

    <main>
        <h1>List of Products...</h1>
    </main>
</body>
</html>